.home-main-section {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-grow: 1;
}

.home-main-section .img-wrapper {
	flex-grow: 1;
	flex-direction: column;
	display: flex;
	align-items: stretch;
	justify-content: flex-end;
	padding: 100px;
}

.home-main-section .lady-image {
	background-image: url(images/best.jpg);
	flex-grow: 1;
	max-height: 70vh;
	min-width: 30vw;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom left;
	padding: 100px;
}
.home-main-section .quantum-image {
	background-image: url(images/pro.png);
	flex-grow: 1;
	max-height: 100vh;
	min-width: 30vw;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom left;
}

.home-main-section .article-image {
	background-image: url(images/article.png);
	flex-grow: 1;
	max-height: 100vh;
	min-width: 30vw;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom left;
}


.home-main-section .call-to-action {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 1rem;
	align-self: center;
}

@media (max-width: 900px) {
	.home-main-section .img-wrapper {
		display: none;
	}

	.home-main-section {
		justify-content: center;
	}
}

